h1 {
  background-color: blue;
  color: rgb(50 205 50);
    padding: 40px;
    text-align: center;
}

body {
  background-color: rgb(50 205 50);
} 

h4 {
  color: blue;
  text-align: center;
}

h6 {
  color: blue;
  text-align: center;
}

a {
  color: blue;
  text-align: center;
}